<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="color: black;">
    <h1>Ayoo Talentshow,</h1>
    <p>Thanks for joining and have a great day!</p>
    <%= @posts.each do |p| %>
      <p><%=p.title %> <%=p.kind %> <%=p.points %></p>
    <% end %>
  </body>
</html>