<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <% if provider.to_s == "facebook" %>
     <%= link_to omniauth_authorize_path(resource_name, provider), class: 'fb-button' do%>
      <div class="fb">
    <%= fa_icon "facebook-square" %>
    <span> Sign up with Facebook </span>
     </div>
    <% end %>
    <% else %>
      <%= link_to omniauth_authorize_path(resource_name, provider), class: 'fb-button' do%>
          <div class="fb" style="background-color: #55ACEE;">
        <%= fa_icon "twitter" %>
        <span> Sign up with Twitter </span>
            </div>
      <% end %>
     <% end %>
  <% end %>
<% end -%>