 <div>
    <% if date == Time.new.strftime("%B %e") %>
         <h3 class="dater"> Today <span class="small"><%=date%> </span> </h3>
     <% elsif date == Time.new.yesterday().strftime("%B %e") %>
        <h3 class="dater"> Yesterday <span class="small"><%=date%> </span> </h3>
    <%else %>
        <h3 class="dater"> <%=day%>  <span class="small"><%=date%> </span></h3>
    <% end %>
</div>
