history.replaceState( "posts" , "A new title!", "/posts/<%= @post.slug %>");
document.title = '<%= @post.title %>';
if($('.screen').length == 0){
$('body').append("<div class='screen'></div>");
 $('body').addClass('no-scroll');
 $('.post').html('<%= escape_javascript(render partial: "box", locals: { post: @post }) %>');
   $('.post').resizable({
    handles: 'w'
});
    };
  $('.spooc').html('<%= escape_javascript(render partial: "votes/votercount", locals: { post: @post, votes: @votercount }) %>');
  $('.screen, .clicker').click(function() { 
 history.replaceState(null, "A new title!", "/");
  $('body').removeClass('no-scroll')
  $('.post').resizable("destroy");
  $('.post').animate({
      left: "100%"
    }, 200);
  $('.post').html('<img id="loading" src="assets/showtime.gif" />')
  $('.screen').remove(); 
  document.title = 'Talentshow';
});
FB.XFBML.parse($(".scoial")[0]);     
twttr.widgets.load();