$('body').append("<div class='screen'></div>");
 $('body').addClass('no-scroll');
  $('.post').html("<%= Post.all %>")
   $('.post').resizable({
    handles: 'w'
});

   $('.screen').click(function() { 
  $('body').removeClass('no-scroll')
  $('.post').resizable("destroy");
  $('.post').animate({
      left: "100%"
    }, 200);
  $('.post').html('<img id="loading" src="assets/showtime.gif" />')
  $('.screen').remove();  

})     