
  <div class="post" style="left: 40%; width: 60%;">
     <img alt="Showtime" id="loading" src="/assets/showtime.gif">
  <div class="pod">
    <div class="pull-left">
      <div class="madle"> <img alt="Clap" class="seez" src="/assets/clap.png"> 
        <p class="cor" style="text-align: center; margin: 0px;">12</p>
      </div>
    </div> <%= @post.title %>
      <span><%= @post.kind %></span>
      <p><%= link_to "View Work", @post.url,  :target => "_blank" %></p>
    </div>
</div>
    <div>
         <h3 class="dater"> TODAY <span class="small">May 26 </span> </h3>
    </div>
