<div class="container">
  <div class="post" style="left: 40%; width: 60%;">
     <img alt="Showtime" id="loading" src="/assets/showtime.gif">
  <div class="pod">
    <div class="pull-left">
      <div class="madle"> <img alt="Clap" class="seez" src="/assets/clap.png"> 
        <p class="cor" style="text-align: center; margin: 0px;">12</p>
      </div>
    </div> <%= @post.title %>
      <span><%= @post.kind %></span>
      <p><%= link_to "View Work", @post.url,  :target => "_blank" %></p>
    </div>
</div>
    <div>
         <h3 class="dater"> TODAY <span class="small">May 26 </span> </h3>
    </div>


    <ul class="listing">
            <a data-method="get" data-remote="true" href="/posts/justin-bier">
                <li style="padding: 10px 0;">
                    <div style="display: table; width: 100%;">
                        <div class="madle">
                            <div>
                                <img alt="Clap" class="seez" src="/assets/clap.png">
                                <p class="lor" style="text-align: center; margin: 0px;">12</p>
                            </div>
                        </div>
                            <div style="display: table-cell;  vertical-align: middle;">
                                <div style="margin-left: 5px;" class="inlines">
                                    <p class="spacey">
                                        <span>Justin Bieber </span>
                                    </p>
                                    <span class="type">Singer</span>
                                </div>
                            <div class="pull-right" style="margin-top: 11px;">
                                <span class="numba">0</span>
                                <i class="fa fa-comment-o camnt"></i>
                                <img alt="a" class="imge shorten" src="http://graph.facebook.com/890605104284789/picture">
                            </div>
                        </div>
                    </div>
                </li>
</a>    </ul>
    <hr>
    <div>
        <h3 class="dater"> YESTERDAY <span class="small">May 25 </span> </h3>
    </div>


    <ul class="listing">
            <a data-method="get" data-remote="true" href="/posts/gfgh">
                <li style="padding: 10px 0;">
                    <div style="display: table; width: 100%;">
                        <div class="madle">
                            <div>
                                <img alt="Clap" class="seez" src="/assets/clap.png">
                                <p class="lor" style="text-align: center; margin: 0px;">12</p>
                            </div>
                        </div>
                            <div style="display: table-cell;  vertical-align: middle;">
                                <div style="margin-left: 5px;" class="inlines">
                                    <p class="spacey">
                                        <span>gfgh</span>
                                    </p>
                                    <span class="type">hjhghgj</span>
                                </div>
                            <div class="pull-right" style="margin-top: 11px;">
                                <span class="numba">0</span>
                                <i class="fa fa-comment-o camnt"></i>
                                <img alt="a" class="imge shorten" src="http://graph.facebook.com/890605104284789/picture">
                            </div>
                        </div>
                    </div>
                </li>
</a>            <a data-method="get" data-remote="true" href="/posts/dan-the-man">
                <li style="padding: 10px 0;">
                    <div style="display: table; width: 100%;">
                        <div class="madle">
                            <div>
                                <img alt="Clap" class="seez" src="/assets/clap.png">
                                <p class="lor" style="text-align: center; margin: 0px;">12</p>
                            </div>
                        </div>
                            <div style="display: table-cell;  vertical-align: middle;">
                                <div style="margin-left: 5px;" class="inlines">
                                    <p class="spacey">
                                        <span>Dan the Man</span>
                                    </p>
                                    <span class="type">Ello</span>
                                </div>
                            <div class="pull-right" style="margin-top: 11px;">
                                <span class="numba">0</span>
                                <i class="fa fa-comment-o camnt"></i>
                                <img alt="a" class="imge shorten" src="http://graph.facebook.com/890605104284789/picture">
                            </div>
                        </div>
                    </div>
                </li>
</a>    </ul>
    <hr>
    <div>
        <h3 class="dater"> Saturday  <span class="small">May 23 </span></h3>
    </div>


    <ul class="listing">
            <a data-method="get" data-remote="true" href="/posts/justin-bieber">
                <li style="padding: 10px 0;">
                    <div style="display: table; width: 100%;">
                        <div class="madle">
                            <div>
                                <img alt="Clap" class="seez" src="/assets/clap.png">
                                <p class="lor" style="text-align: center; margin: 0px;">12</p>
                            </div>
                        </div>
                            <div style="display: table-cell;  vertical-align: middle;">
                                <div style="margin-left: 5px;" class="inlines">
                                    <p class="spacey">
                                        <span>Justin Bieber </span>
                                    </p>
                                    <span class="type">Singer</span>
                                </div>
                            <div class="pull-right" style="margin-top: 11px;">
                                <span class="numba">0</span>
                                <i class="fa fa-comment-o camnt"></i>
                                <img alt="a" class="imge shorten" src="http://graph.facebook.com/890605104284789/picture">
                            </div>
                        </div>
                    </div>
                </li>
</a>    </ul>
    <hr>

    <div class="screen"></div>

</div>
