$('body').append("<div class='screen'></div>");
 $('body').addClass('no-scroll');
  $('.post').html("<div class='pod'><div class= 'pull-left'><div class='madle'> </div></div><%= @post.title %><p><%= @post.kind %></p></div>");
  $('.pod').append('<%= link_to "View Work", @post.url %>');
  $('.pull-left > .madle').append('<%= image_tag("clap.png", class: "seez") %> <p class= "cor" style="text-align: center; margin: 0px;">12</p>');
   $('.post').resizable({
    handles: 'w'
});

   $('.screen').click(function() { 
  $('body').removeClass('no-scroll')
  $('.post').resizable("destroy");
  $('.post').animate({
      left: "100%"
    }, 200);
  $('.post').html('<img id="loading" src="assets/showtime.gif" />')
  $('.screen').remove();  

})     