/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
  *= require jquery-ui/resizable
 */
 @import "bootstrap-sprockets";

// Import cerulean variables
@import "bootswatch/cosmo/variables";

// Then bootstrap itself
@import "bootstrap";

// Bootstrap body padding for fixed navbar
body { 
  padding-top: 70px; 
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

// And finally bootswatch style itself
@import "bootswatch/cosmo/bootswatch";
@import url("//fonts.googleapis.com/css?family=Raleway:700");
@import "font-awesome";


 .size{
    padding: 19px 6px;
 }
 .cali{
  color: white;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

nav > p{
  margin: 0px;
}

.cali:hover {
  color: white;
}

a:hover{
  text-decoration: none;
}
a:focus{
  text-decoration: none;
}
.cali:focus {
  color: white;
}
.navbar-default{
    background-size: 30%;
  background-image: image-url("img.png");
  background-position: 18%;
  position: fixed;
  width: 100%;
  top: 0px;
  box-shadow: 0px 2px 9px #4C4C4C;
}
.navbar-brand{
  float: left;
  padding: 14.5px 15px;
  font-size: 20px;
  line-height: 40px;
  height: 70px;
  margin: 0px;
}
.navbar-nav > li > a {
  padding-top: 24.5px;
  padding-bottom: 24.5px;
  font-size: 16px;
}
.navbar-nav > .dropdown > a {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 16px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: white;
  background-color: rgba(9, 9, 9, 0.36);
  outline:none;
}
.navbar-header > p:hover{
    background-color: rgba(9, 9, 9, 0.36);
}
.circle{
  padding: 7px 8px;
  border-radius: 50%;
  background-color: #87D25A;
    color: rgb(255, 253, 65);
  box-shadow: 2px 2px 0px 1px rgba(0, 0, 0, 0.51), 3px 3px 1px 1px rgba(0, 0, 0, 0.49);
}
.size{
  padding: 20px 10px !important;
}
.imge{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: rgba(9, 9, 9, 0.36);
  color: white;
}
.small{
  font-size: 16px !important;
}
.listing{
  list-style-type: none;
  padding: 0px;
}
.navbar{
    margin-bottom: 0px;
      z-index: 100;
}
.dater{
    font-family: serif;
}
.seez{
  height: 35px;
  width: 35px;
}
.madle{
  border-radius: 3px;
  box-shadow: 0 1px 0 0 rgba(83,69,64,0.3),0 1px 1px 0 rgba(0,0,0,0.2);
  position: relative;
  text-align: center;
  width: 38px;
  background-color: #D1FFB6;
  display: table-cell;
  padding: 5px 0px;
  vertical-align: middle;
  display: table-cell;
  padding: 5px 0;
  vertical-align: middle;
}
.lor{
  text-align: center;
  margin: 0px;
  color: rgb(247, 77, 77);
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bolder;
}
.inlines{
  display: inline-block;
}
.spacey{
  margin: 0 0 3.5px;
    font-size: 19px;
  font-weight: bolder;
    color: #525252;
}
.container{
  max-width: 960px;
  min-width: 300px;
}
.navbar-nav {
  float: left;
  margin: 0;
}
.navbar-right {
  float: right !important;
}
.navbar-nav.navbar-right:last-child {
  margin-right: 0px;
}
.navbar-header {
  float: left;
}
.container > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-header, .container-fluid > .navbar-collapse {
  margin-right: 0;
  margin-left: 0;
}
.navbar {
  border-radius: 0;
}
.navbar-nav > li {
  float: left;
  font-weight: bold;
}
.navbar-right .dropdown-menu {
  right: 0;
  left: auto;
}
@media (max-width: 767px){
.navbar-nav .open .dropdown-menu {
  position: absolute;
  float: left;
  min-width: 160px;
  margin: 0px 0 0;
  background-color: white;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
}
.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333 !important;
  white-space: nowrap;
}
.navbar-nav > li > .dropdown-menu {
  margin-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
  color: white;
  background-color: #D1FFB6;
}
@media (max-width: 500px){
  .container{
    padding-left: 10px;
    padding-right: 10px;
  }
  .navbar-brand{
    font-size: 20px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .navbar-nav.navbar-right > li:last-child {
  display: none;
  }
  #third{
    padding-right: 0px;
  }
}
.camnt{
  margin-right: 15px;
    color: rgb(52, 240, 0);
  font-size: 22px;
}
.shorten{
  margin-top: -8px;
}
.numba{
  color: #47B508;
  font-family: fantasy;
  font-weight: bolder;
}
.type{
    font-size: 16px;
  font-weight: 600;
    color: #9B9B9B;
}
.post{
    z-index: 10000;
  position: fixed !important;
  right: 0;
  top: 0;
  bottom: 0;
  left: 100%;
    background-color: white;
  box-shadow: -1px 0px 2px 0px rgba(0,0,0,0.25);
}
.no-scroll{
  overflow: hidden !important;
}
.screen{
    position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 100;
  background: rgba(255,255,255,0.8);
}
.pads{
  padding: 20px;
}
.ban{
  background-color: rgb(125, 228, 122);
  height: 72px;
    text-align: center;
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.bood{
    color: rgb(126, 126, 126);
    font-size: 19px;
}
#loading{
  display: none;
  height: 100%;
  width: 100%;
}
.pod{
  background-color: #659974;
  padding: 8px;
  font-size: 21px;
  color: white;
  font-size: 25px;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.cor{
  color: #f74d4d;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bolder;
  font-size: 18px;
}
.pod > .pull-left {
  margin-right: 10px;
  height: 100px;
}
.pod > p{
  margin: 0px;
}
.pod > a{
   padding: 5px 15px;
  border-radius: 50px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 19px;
  font-weight: 700;
  background-color: rgb(209, 255, 182);
  color: rgb(253, 101, 101);
}
.pod > a:hover{
     background-color: rgb(166, 215, 137);
}